{% extends 'inventorybase.html' %}

{% block content %}
<table align='center' border='1'>
    <tr>
        {% for x in tcol %}
            <th>{{x}}</th>
        {%endfor%}
    </tr>
    {% for value in obj %}
    <tr>
       <td>{{value.id}}</td>
       <td>{{value.item_name}}</td>
       <td>{{value.quantity}}</td>
       <td>{{value.bought_price}}</td>
       <td>{{value.retail_price}}</td>
       <td>{{value.bought_date }}</td>
       <td>{{value.expire_date }}</td>
    </tr>
    {% endfor %}
</table>
<p></p>
<center>
    <div class='btn-group btn-group-lg' role="group">
        <a href="additem" class="btn btn-info btn-lg">Add Item(s)</a>
        <a href=".." class="btn btn-info btn-lg">Back</a>
    </div>
</center>

{% endblock %}