{% extends 'transbase.html' %}

{% block content %}
<br><br>
<center>
    <div class="container">
        <a href="makepayment">
            <div class='jumbotron'>
                <font size=28 color='white'>Make Payment</font>
            </div>
        </a>
        <a href="records">
            <div class="jumbotron"> 
                <font size=28 color='white'>Records</font>
            </div>
        </a>
    </div>
</center>
<br>
<center> <a href=".." class="btn btn-info btn-lg">Back</a></center>
<br>
{% endblock %}