<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>POS | Dashboard</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 
<style>
.jumbotron{
    background-color:rgb(20, 112, 218);
    color:white;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>
 
</head>
<body>
<div class="page-header">
    <h1>POS | Dashboard</h1>
</div>
<div class="container">
    <a href="inventory">
        <center><div class="jumbotron"><font size=28>Inventory</font></div></center>
    </a>
    <a href="transactions">
        <center><div class="jumbotron"><font size=28>Transactions</font></div></center>
    </a>
</div>
</body>
</html>